*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 15px;
    padding: 15px;
    background-color: #00ff3d;
    border-radius: 13px;
    font-family: 'Manrope', sans-serif;
}
.container div{
    border-radius: 13px;
}
a{
    text-decoration: none;
}