.nawBtn{
    font-size: 4vh;
    margin-left: 7% ;
    margin-top: 5%;
    cursor: pointer;
    display: inline-block;
}
.nawBtn div{
    margin: 2%;
}
.nawBtn div:hover{
    color: #f1b76b;
}
.nawBtn  a{
    text-decoration: none;
    color: #00ff2a;
}
.nawBtn div:active {
    color: #ff0000;
}
.nawBtn>.activeLink{
    color: #020fff;
}