* {
    margin: 0;
    padding: 0;
}

.appearance {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    margin: 2%;
}

.appearance button {
    width: 15%;
    margin: 2% 0;
    padding: 5px;
    font-family: "Arial Black";
    cursor: pointer;
}
/*.avatar{*/
/*    width: 15%;*/
/*    height: 12vh;*/
/*}*/
.img {
    width: 15%;
    height: 12vh;
}

.numberPage {
    display: flex;
    align-items: center;
}

.numberPage span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    cursor: pointer;
    margin: 0 5px;
    /*background-color: #ffd502;*/
    border-radius: 50px;
    width: 33px;
    height: 33px;


}

.numberPage span:hover {
    color: #00942b;
}

.numberPage span:active {
    color: #83088c;
}


.active {
    background-color: #00ff2a;
    color: red;
    font-family: "Arial Black";
}