* {
    margin: 0;
    padding: 0;
}

.appearance {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    margin: 2%;
}

.appearance button {
    width: 15%;
    margin: 2% 0;
    padding: 5px;
    font-family: "Arial Black";
    cursor: pointer;
}

.img {
    width: 15%;
    height: 12vh;
}

.numberPage span {
    font-size: 23px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    cursor: pointer;
    margin: 0 3px;
}

.numberPage span:hover {
    color: #37ef5b;
}